@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.subject-container {
  padding: 20px;
  width: 80%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  background:transparent;
}

.subject-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.subject-search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}

.subject-search input {
  border: none;
  outline: none;
  padding: 5px;
  margin-right: 5px;
}

.subject-search svg {
  color: #888;
}


.subject-cards {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
}

.subject-card-link {
    text-decoration: none;
    color: inherit;
}

.subject-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
    height: 280px;
    cursor: pointer;
    padding: 5px 5px;
}

.subject-card:hover {
    transform: scale(1.05);
   background-color:#002244;
    color: white;
}

.subject-card h3 {
   margin-top: 30px;
   margin-bottom: 15px;
    font-size: 1.3rem;
}

.subject-card p {
    font-size: 0.9em;
    color: #666;
}

.subject-card img {
    width: 100%;
    height: 60%;
    border-radius: 8px;
}

@media (max-width: 1200px) {
    .subject-card {
      width: 45%;
      height: auto;
    }
  }
  
  @media (max-width: 992px) {
    .subject-card {
      width: 48%;
      height: auto;
    }
  }
  
  @media (max-width: 768px) {
    .subject-container {
      width: 90%;
      padding: 15px;
    }
  
    .subject-card {
      width: 100%;
      height: auto;
    }
  
    .subject-card img {
      height: auto;
    }
  
    .subject-card h3 {
      font-size: 1.1rem;
    }
  
    .subject-card p {
      font-size: 0.85em;
    }
  }
  
  @media (max-width: 576px) {
    .subject-container {
      width: 95%;
      padding: 10px;
    }
  
    .subject-card {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  
    .subject-card img {
      height: auto;
    }
  
    .subject-card h3 {
      font-size: 1rem;
    }
  
    .subject-card p {
      font-size: 0.8em;
    }
  }