@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.subject-page-container {
  padding: 20px;
  width: 80%;
  margin:auto;
  font-family: "Roboto", sans-serif;
}

.papers-list-subject {
    display: flex;
   flex-direction: column;
    gap: 10px;
    justify-content: start;
    
}


.paper-content {
    margin-top:10px;
    display: flex;
     flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    margin-bottom: 50px;
   
}
.paper-content-marking {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
   
    
}

.paper-item {
    background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s;
  text-align: center;
  height: 340px;
}

.paper-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.paper-thumbnail {
    height: 150px;
    width: 220px;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper-info h3 {
    margin-top: 12px;
    font-size: 1rem;
    display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
    
}

/*.paper-info p {
    font-size: 14px;
    color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}*/

.paper-info p {
    font-weight: 600;
    font-size: 15px;
    color: black;
}

.paper-info a button
 {
    margin-top: 10px;
    padding: 10px;
    width: 130px;
    background: rgb(6, 6, 105);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.paper-info a button:hover{
    background: rgb(3, 3, 58);
}

.paper-info button.fav-btn {
    background-color: rgb(46, 173, 46);
    margin-top: 10px;
    padding: 10px;
    width: 130px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.paper-info button.fav-btn:hover {
    background-color: rgb(47, 171, 47);
}

.filter-by-year {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 75%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filter-by-year select {
    width: 150px;
    height: 20PX;
    border: 1px solid gray;
    border-radius: 4px;
  
}

.no-past-papers {
    margin-top: 40px;
    margin-bottom: 40px;
}

.no-marking-schemes {
    margin-top: 40px;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
}

.loading-gif {
    width: 100px; /* Adjust size as needed */
    height: 100px;
}

@media (max-width: 768px) {
    
.filter-by-year {
    margin-left: 2%;
}
}