@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    height: 300px; /* Adjusted height for better display */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .popup-content {
    background: transparent;
    text-align: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .popup-content h2 {
    margin-bottom: 20px;
    font-size: 45px;
    font-family: "Josefin Sans", sans-serif;
  }
  
  .popup-content p {
    font-size: 30px;
  }
  
  .score-image {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 20px;
  }
  