@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.recent-papers {
  padding: 20px;
  width: 80%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  }
  
  .recent-papers h2 {
    font-size: 40px;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;

  }
  
  .papers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .recent-papers .paper-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 300px;
  }
  
  .paper-item:hover {
    transform: scale(1.02);
  }
  
  .paper-thumbnail {
    height: 150px;
  width: 220px;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .paper-thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  .paper-info {
    text-align: center;
  }
  
  .paper-info h3 {
    font-size: 18px;
    margin-top: 12px;
    display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  }
  
  .paper-info p {
    font-weight: 600;
    font-size: 15px;
    color: black;
  }
  
  .recent-papers a button {
    margin-top: 100px;
    padding: 10px;
    width: 140px;
    background: rgb(6, 6, 105);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    
  }
  
  .recent-papers button:hover {
    background:rgb(3, 3, 58) ;
  }

  /*.view-all {
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
    color:black;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-left: 3%;
  }
  
  .view-all:hover {
    color:rgb(6, 6, 105);
    text-decoration: underline;
    
  }
    
  <Link to="/subjects" className="view-all">
        View All Papers
      </Link>
      
      */
  

  @media (max-width: 768px) {
    .recent-papers {
      width: 90%; /* Adjust width for smaller screens */
    }
  
    .papers-list {
      justify-content: center; 
      margin-left: 10%;/* Center content */
    }
  
    .paper-item {
      width: 100%;
      max-width: none;
    }
  }
  
  @media (max-width: 576px) {
    .recent-papers {
      width: 100%;
      padding: 10px;
    }
  
    .papers-list {
      gap: 10px;
    }
  
    .paper-item {
      width: calc(50% - 10px);
    }
  }
  
  @media (max-width: 400px) {
    .paper-item {
      width: 100%;
    }
  }
  